body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: ghostwhite;
}

.header {
    position: absolute;
    width: 100%;
    background-color: ghostwhite;
    /*padding: 10px 0 10px 0;*/
    border-bottom: 1px solid #c0c0c0;
    letter-spacing: 3px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    line-height: 30px;
}

.menu-item a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
}

.menu-item a:hover {
    font-size: 105%;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .menu-item a {
        font-size: 10px;
        padding: 5px;
    }
    .menu-item a:hover {
        font-size: 101%;
    }
}

.content {
    margin: 0 100px 0 100px;
    font-size: 20px;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .content {
        font-size: 15px;
    }
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .content {
        margin: 0 50px 0 50px;
    }
}

.logoContent {
    background-image: url('../assets/background.png');

    max-width: 1470px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .logoContent {
        height: 50vh;
    }
}

.logoContent p{
    font-size: 32px;
}

.frameLogo {
    border-style: solid;
    border-width: 2px;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-right: 5px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .frameLogo {
        font-size: 20px;
        height: 30px;
        width: 45px;
    }
    .logoContent p {
        font-size: 20px;
    }
    .title {
        font-size: 25px;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proiect {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.proiect div:hover {
    transform: scale(1.05);
}

.proiect1 {
    height: 250px;
    width: 400px;
    background-image: url('../assets/house2.jpg');
    background-size: 100%;
    display: flex;
    margin: 0 15px 15px 0;
}
.proiect2 {
    height: 250px;
    width: 400px;
    background-image: url('../assets/house3.jpg');
    background-size: 100%;
    display: flex;
    margin: 0 15px 15px 0;
}
.proiect3 {
    height: 250px;
    width: 400px;
    background-image: url('../assets/house4.jpg');
    background-size: 100%;
    display: flex;
    margin: 0 15px 15px 0;
}
.proiect4 {
    height: 250px;
    width: 400px;
    background-image: url('../assets/house5.jpg');
    background-size: 100%;
    display: flex;
    margin: 0 15px 15px 0;
}
.proiect5 {
    height: 250px;
    width: 400px;
    background-image: url('../assets/house3.jpg');
    background-size: 100%;
    display: flex;
    margin: 0 15px 15px 0;
}
.proiect6 {
    height: 250px;
    width: 400px;
    background-image: url('../assets/house2.jpg');
    background-size: 100%;
    display: flex;
    margin: 0 15px 15px 0;
}
.proiect7 {
    height: 250px;
    width: 400px;
    background-image: url('../assets/house5.jpg');
    background-size: 100%;
    display: flex;
    margin: 0 15px 15px 0;
}
.proiect8 {
    height: 250px;
    width: 400px;
    background-image: url('../assets/house2.jpg');
    background-size: 100%;
    display: flex;
    margin: 0 15px 15px 0;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .proiect1 {
        height: 200px;
        width: 275px;
    }
    .proiect2 {
        height: 200px;
        width: 275px;
    }
    .proiect3 {
        height: 200px;
        width: 275px;
    }
    .proiect4 {
        height: 200px;
        width: 275px;
    }
    .proiect5 {
        height: 200px;
        width: 275px;
    }
    .proiect6 {
        height: 200px;
        width: 275px;
    }
    .proiect7 {
        height: 200px;
        width: 275px;
    }
    .proiect8 {
        height: 200px;
        width: 275px;
    }
}

.textProject {
    background-color: black;
    color: aliceblue;
    position: absolute;
    display: block;
    text-align: center;
    width: 220px;
    height: 30px;
}

.textAbout {
    font-size: 15px;
}

.aboutTeam {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aboutTeam div{
    height: 500px;
    width: 420px;
}

.aboutTeam img {
    width: 100%;
}

.name {
    font-size: 32px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

.position {
    font-size: 18px;
    font-weight: bold;
    color: darkgray;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .name {
        font-size: 25px;
    }
    .position {
        font-size: 15px;
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: aliceblue;
    background-color: black;
    height: 30px;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .contact {
        font-size: 12px;
    }
}

input[type=text] {
    width: 100%;
    height: 20px;
    background-color: ghostwhite;
    border: 0;
    border-bottom: 1px solid #000;
    outline: 0;
}

input[type=button] {
    width: 200px;
    height: 25px;
    color: aliceblue;
    background-color: black;
    margin-top: 20px;
}

.map {
    padding-top: 30px;
}

.footer {
    height: 150px;
    background-color: black;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .footer {
        height: 100px;
    }
}

.buttonUp {
    position: fixed;
    right: 45px;
    bottom: 45px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: dimgray;
    opacity: 0.7;
    font-family: 'Lato', sans-serif;
    border-radius: 50%;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .buttonUp {
        right: 3px;
        bottom: 15px;
        height: 40px;
        width: 40px;
        font-size: 12px;
    }
}