body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: ghostwhite;
}

.header {
    position: absolute;
    width: 100%;
    background-color: ghostwhite;
    /*padding: 10px 0 10px 0;*/
    border-bottom: 1px solid #c0c0c0;
    letter-spacing: 3px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    line-height: 30px;
}

.menu-item a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
}

.menu-item a:hover {
    font-size: 105%;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .menu-item a {
        font-size: 10px;
        padding: 5px;
    }
    .menu-item a:hover {
        font-size: 101%;
    }
}

.content {
    margin: 0 100px 0 100px;
    font-size: 20px;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .content {
        font-size: 15px;
    }
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .content {
        margin: 0 50px 0 50px;
    }
}

.logo-Content {
    background-image: url('../assets/background.png');
    max-width: 1470px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .logo-Content {
        height: 50vh;
    }
}

.logo-Content p{
    font-size: 32px;
}

.frame-Logo {
    border-style: solid;
    border-width: 2px;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-right: 5px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .frame-Logo {
        font-size: 20px;
        height: 30px;
        width: 45px;
    }
    .logo-Content p {
        font-size: 20px;
    }
    .title {
        font-size: 25px;
    }
}

.row-project {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    padding: 5px;
    flex-basis: 25%;
    box-sizing: border-box;
    position: relative;
}

.projects  img {
    filter: grayscale(30%);
    cursor: pointer;
}

.projects  .project {
    transition: transform 1s;
}


.projects .project:hover {
    transform: scale(1.04);
    filter: saturate(200%);
    z-index: 1;
}

.project img {
    width: 100%;
}


@media (max-width: 1024px) {
    .project {
        flex-basis: 50%;
    }
}

@media (max-width: 375px) {
    .project {
        flex-basis: 100%;
    }
}

.text-Project {
    position: absolute;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 4% 0;
    font-size: 16px;
    width: 70%;
    z-index: 1;
}

.text-About {
    font-size: 15px;
}

.about-Team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.name {
    font-size: 32px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

.position {
    font-size: 18px;
    font-weight: bold;
    color: darkgray;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: aliceblue;
    background-color: black;
    height: 30px;
}


input[type=text] {
    width: 100%;
    height: 20px;
    background-color: ghostwhite;
    border: 0;
    border-bottom: 1px solid #000;
    outline: 0;
}

input[type=button] {
    width: 200px;
    height: 25px;
    color: aliceblue;
    background-color: black;
    margin-top: 20px;
}

.map {
    padding-top: 30px;
}

.footer {
    height: 150px;
    background-color: black;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .footer {
        height: 100px;
    }
}

.button-Up {
    position: fixed;
    right: 45px;
    bottom: 45px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: dimgray;
    opacity: 0.7;
    font-family: 'Lato', sans-serif;
    border-radius: 50%;
}

@media screen and (max-width: 580px) and (min-width: 375px) {
    .button-Up {
        right: 3px;
        bottom: 15px;
        height: 40px;
        width: 40px;
        font-size: 12px;
    }
}