body {
    margin: 0;
    padding: 0;
    font-family: "Georgia";
    font-size: 16px;
    color: rgb(255, 255, 255);
    user-select: none;
    background: url('../assets/bg (5).jpg') no-repeat;
    background-size: cover;
}

.max-wigth {
    padding-left: 10%;
    padding-right: 10%;
}

/*Header*/

header {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    height: 85px;
    border-top: 2px solid rgb(118, 195, 143);
    background-color: rgba(43, 43, 43, 0.7);
}

.logo a {
    font-size: 28px;
    color: rgb(255, 255, 255);
    line-height: 1;
    text-decoration: none;
}

.logo p{
    margin-top: 0;
    margin-bottom: 0;
}

.under-logo {
    font-size: 11px;
    color: rgb(151, 151, 151);
    line-height: 1;
}

.body-max {
    max-width: 100%;
    margin-left: auto;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
}

.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 13px;
    line-height: 1.2;
}

.navig-mini {
    display: none;
}

@media (max-width: 770px) {
    .navigation-list {
        display: none;
    }

    .navig-mini {
        display: block;
    }

    .navig-mini ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navig-mini a {
        display: block;
        text-decoration: none;
        outline: none;
        transition: .4s ease-in-out;
    }

    .navig-mini {
        backface-visibility: hidden;
    }

    .navig-mini > li {
        display: inline-block;
        position: relative;
    }

    .navig-mini > li > a {
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        }

        .down:after {
        margin-left: 8px;
    }

    .navig-mini li a:hover {
        color: rgb(118, 195, 143);
    }

    .submenu {
        background: rgb(43, 43, 43);
        border: 2px solid rgb(118, 195, 143);
        border-radius: 5%;
        position: absolute;
        left: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 5;
        transform: perspective(600px) rotateX(-90deg);
        transform-origin: 0% 0%;
        transition: .6s ease-in-out;
    }

    .navig-mini > li:hover .submenu{
        visibility: visible;
        opacity: 1;
        transform: perspective(600px) rotateX(0deg);
        left: -50px;
    }

    .submenu li a {
        color: rgb(255, 255, 255);
        font-size: 13px;
        line-height: 36px;
        padding: 0 10px;
    }
}

.navigation-bar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}

.navigation-bar a:hover {
    background-color: rgb(118, 195, 143);
}

/*Slider*/

.slider {
    background-color: rgba(43, 43, 43, 0.7);
}

.my-slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.text-slider{
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.decription-slider {
    padding: 0 5% 0 10%;
}

.title-text-slider {
    font-size: 46px;
    margin-bottom: 0;
}

.main-text-slider {
    font-size: 15px;
    color: rgb(151, 151, 151);
}

.text-slider p{
    justify-content: center;
    align-items: center;
}

.round {
    display: flex;
    max-width: 590px;
    width: 100%;
    box-sizing: border-box;
}

.img-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    border: 25px solid #6b6b6b;
    border-radius: 50%;
}

.button-read {
    background-color: rgb(118, 195, 143);
    border-radius: 10px;
    border-style: none;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 145px;
}

.button-read a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media (max-width: 1100px) {
    .title-text-slider {
        font-size: 30px;
    }

    .main-text-slider {
        font-size: 12px;
    }

    .img-slider {
        border: 15px solid #6b6b6b;
    }
}

@media (max-width: 650px) {

    .text-slider {
        width: 100%;
        text-align: center;
    }

    .img-slider {
        border: 10px solid #6b6b6b;
    }

    .round {
        justify-content: center;
    }
}

/*Service*/

.row-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 60px;
}

.services img{
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.service {
    box-sizing: border-box;
    background-color: ghostwhite;
    text-align: center;
    margin-bottom: 40px;
    padding: 5px;
    width: calc(1/4*100% - (1 - 1/4)*20px);
}

@media (max-width: 1100px) {
    .service {
        width: calc(1/2*100% - (1 - 1/2)*40px);
    }
}

@media (max-width: 650px) {
    .service {
        width: 100%;
    }

    .services img {
        height: 80px;
        width: 80px;
    }
}

.title-service {
    font-size: 32px;
    margin: 0;
    color: dimgray;
}

.main-text-service {
    color: rgb(151, 151, 151);
}

.row-services div:hover {
    background-color: rgb(118, 195, 143);
}

.service:hover p{
    color: ghostwhite;
}

.service:hover img{
    filter: invert(100%);
}

/*Latest work*/

.title-latest-work {
    overflow: hidden;
    text-align: center;
}

.title-latest-work a {
    display: inline-block;
    vertical-align: middle;
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 5px;
    font-size: 32px;
}

.title-latest-work:before,
.title-latest-work:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 4px;
    background-color: #2a2a2a;
    position: relative;
}

.title-latest-work:before {
    margin-left: -100%;
}

.title-latest-work:after {
    margin-right: -100%;
}

.row-latest-work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 60px;
}

.latest {
    border: 5px solid rgb(255, 255, 255);
    box-sizing: border-box;
    background-color: ghostwhite;
    text-align: center;
    margin-bottom: 40px;
    width: calc(1/3*100% - (1 - 1/3)*30px);
    position: relative;
}

.latest img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.latest-description{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
}

.latest:hover{
    border-color: rgb(118, 195, 143);
}

.latest:hover img{
    filter: grayscale(0%);
}

.latest:hover div{
    display: none;
}

@media (max-width: 1100px) {
    .latest {
        width: calc(1/2*100% - (1 - 1/2)*40px);
    }
}

@media (max-width: 650px) {
    .latest {
        width: 100%;
    }
}

/*About*/

.about-us {
    background-color: #313131;
    color: rgb(151, 151, 151);
    padding-bottom: 20px;
}

.row-about-us {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about {
    box-sizing: border-box;
    position: relative;
    padding: 0 30px 0 0;
    width: 25%;
}

.title-about {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.about-p {
    color: rgb(118, 195, 143);
    font-size: 14px;
}

.text-admin {
    font-size: 12px;
}

.text-blog {
    font-size: 14px;
}

.green-text {
    text-decoration: none;
    color: rgb(118, 195, 143);
}

.button-read-about{
    background-color: transparent;
    border-style: none;
    text-align: center;
    font-size: 13px;
    color: rgb(118, 195, 143);
}

.button-read-about a{
    text-decoration: none;
    color: rgb(118, 195, 143);
}

.list-quick {
    padding-left: 0;
}

.list-quick li{
    border-bottom: 1px solid rgb(151, 151, 151);
    padding: 5px;
    font-size: 14px;
    list-style-type: none;
}

.list-quick li a{
    text-decoration: none;
    color: rgb(118, 195, 143);
}

.list-quick li:before {
    color: rgb(151, 151, 151);
    content: "»";
}

@media (max-width: 1100px) {
    .about {
        width: 50%;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    }

    .about:last-child{
        border: none;
    }
    .about:nth-last-child(2){
        border: none;
    }
}

@media (max-width: 650px) {

    .about {
        width: 100%;
    }

    .about:last-child{
        border: none;
    }

    .about:nth-last-child(2){
        border-bottom: 1px solid black;
    }
}

/*/*/

input[type=text], textarea {
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    resize: vertical;
    border-radius: 15px;
    background-color: #222222;
    font-family: "Georgia";
}

input[type=submit] {
    background-color: rgb(118, 195, 143);
    color: #2a2a2a;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    font-family: "Georgia";
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*Footer*/

.footer {
    background-color: #2b2b2b;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    color: rgb(151, 151, 151);
}

.copyright{
    width: 50%;
}

.template {
    width: 50%;
    text-align: right;
}

@media (max-width: 650px) {

    .footer {
        font-size: 12px;
    }
}